@model MiPrimerAppMVC.Models.Producto

@{
    ViewData["Title"] = "Editar Producto";
}

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-warning text-dark">
            <h3 class="mb-0">@ViewData["Title"]</h3>
        </div>
        <div class="card-body">

            <div>
                <p class="text-success">@ViewBag.Message</p>
            </div>

            <div class="row">
                @* lo colocado en asp-action es un nombre que nosotros elegimos -- Inicio del form *@
                <form asp-action="Edit" class="col-md-12">

                    @* // Asegurarse de que el Id del producto se envíe al controlador *@
                    @* Esto es importante para que el controlador sepa qué producto editar *@
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="FechaDeAlta" />

                    @* N O M B R E *@
                    <div class="form-group mb-3">
                        <label asp-for="Nombre" class="form-label fw-bold"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>

                    @* D E S C R I P C I O N *@
                    <div class="form-group mb-3">
                        <label asp-for="Descripcion" class="form-label fw-bold"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>

                    @* P R E C I O *@
                    <div class="form-group mb-3">
                        <label asp-for="Precio" class="form-label fw-bold"></label>
                        <input asp-for="Precio" class="form-control" />
                        <span asp-validation-for="Precio" class="text-danger"></span>   
                    </div>

                    @* A C T I V O *@
                    <div class="form-group form-check mb-4">
                        <input class="form-check-input" asp-for="Activo" />
                        <label class="form-check-label fw-bold" asp-for="Activo">
                            @Html.DisplayNameFor(model => model.Activo)
                        </label>
                        <span asp-validation-for="Activo" class="text-danger d-block"></span>
                    </div>

                    @* BOTON DE ACCION - ACTUALIZAR DATOS *@
                    <div class="form-group d-flex justify-content-between">
                        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                        <input type="submit" value="Guardar Cambios" class="btn btn-warning text-white" />
                    </div>

                </form> @* FIN DEL FORM *@
            </div>
        </div>
    </div>
</div>
