@{
    ViewData["Title"] = "Privao";
}

<div class="container py-5">
    <div class="text-center bg-light p-5 rounded shadow">
        <h1 class="display-4 text-danger">
            <i class="bi bi-shield-lock-fill me-2"></i>@ViewData["Title"]
        </h1>
        <p class="lead mt-4">Todo privaoooo. Esta sección contiene información confidencial, así que no la compartas 👀</p>

        <a href="https://learn.microsoft.com/aspnet/core/security" class="btn btn-outline-dark mt-3" target="_blank">
            <i class="bi bi-journal-lock"></i> Más sobre privacidad en ASP.NET Core
        </a>
    </div>
</div>
